<html>
  <body>
    <h1>hello world!</h1>
    <p>this is my <strong>first </strong> applications</p>

    this is <a href="https://google.com">a link to</a> google


    <ol>

      <li>mohammad</li>
      <li>mohammad alturki</li>
      <li>everyone else in class will be this item</li>
    </ol>

<table>
  <tr>
    <th>khaled</th>
    <td>ahmed</td>
    <td>mohammad</td>
  </tr>

  <tr>
    <th>tahani</th>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td>jawaher</td>
  </tr>

  <tr>
    <td></td>
    <td>ebraheem</td>
    <td></td>
    <td>sameer</td>
  </tr>
</table>

  </body>
</html>