{% extends 'base.html' %}

{% block title %}Post List{% endblock title%}

{% block content %}
  <h1>Latest posts:</h1>

<div class="container">
{% for post in post_list %}
  <div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.body|truncatewords:10 }}</p>
    <a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
  </div>
  <div class="card-footer text-muted">
    {{ post.created_on|timesince }} ago
  </div>
</div>
{% endfor %}
</div>
{% endblock content %}